html {
  height: 100%;
  width: 100%;
}
body{
  background-color: beige;
   text-align: center;
}


h1{
  text-align: center;
}

 nav{
  background:#ffd59a; 
  display:block;
 }
 
h2{
  text-align: center;
}

img{
  width: 260px;
  height: 200px;
}

p{
  font-family: cursive;
}








